CompileFlags:
  Add:
    - -std=c99
    - -DUSE_HAL_DRIVER
    - -DSTM32G474xx
    - -DUSE_FULL_LL_DRIVER
    - -I../users
    - -I../drivers/stm32g4xx-hal-driver/Inc
    - -I../drivers/stm32g4xx-hal-driver/Inc/Legacy
    - -I../drivers/cmsis-device-g4/Include
    - -I../utilities
    - -I../utilities/math
    - -I../utilities/filter
    - -I../devices/inc
    - -I../modules
    - -I../drivers/bsp/stm32/hal
    - -I../drivers/bsp/stm32/ll
    - -I../middlewares/RTT
    - -I../test
    - -I../middlewares/proto
    - -I../applications
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mfloat-abi=softfp
    - -mfpu=fpv4-sp-d16
Index:
  Background: Build

